<div class="bg-white py-2 d-flex flex-column justify-content-center mb-3 border">
	<div class="ml-3">
		<span *ngFor="let terme of historique; let i = index;">
			<ng-container *ngIf="i != (historique.length - 1); else historiqueLast">
				<span class="breadcrumb-lien text-secondary"  (click)="select(terme.t, i+1)"> 
					{{terme.t}}
				</span>
				<span class="badge badge-white font-weight-bold px-0 mx-1"> 
					<i class="icon-right-open"> </i>{{terme.r}}<i class="icon-right-open"> </i>
				</span>
			</ng-container>

			<ng-template #historiqueLast>
				<span class="font-weight-bold">  {{terme.t}}
				</span>
			</ng-template>
			

		</span>
	</div>
</div>