/* You can add global styles to this file, and also import other style files */
html {
	overflow-y: scroll !important;
	position: relative;
	min-height: 100%;
}

body {
	background-color: #f2f2f2 !important;
	padding-right: 0px !important;
	height: 100%;
}

main {
	margin-bottom: 5rem;
}

.cursor-pointer {
	cursor: pointer;
}